

.genClass6407 { 
  position: relative;
  top: -15px;
  left: -385px;
}

.genClass493 { 
  position: relative;
  top: -74px;
  left: -90px;
}

.genClass7348 { 
  position: relative;
  top: -126px;
  right: -232px;
}

.genClass7888 { 
  position: relative;
  right: -412px;
  top: -224px;
}

.genClass7491 { 
  width: 12px;
}

.genClass2229 { 
  position: relative;
  top: -182px;
  bottom: 0px;
  right: -230px;
}
.MinhaClasse{
background-color: blue;
}

.genClass5316 { 
  position: static;
}

.genClass4494 { 
  position: static;
}